.about ul {
    margin: 0;
    padding: 0;
}
.ds-fl span:last-child {
    margin-left: .5em;
}
.services svg {
    color: var(--main-color);
    transform: scale(1.5);
    margin-bottom: 1em;
}
.pricing >div {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1em;
    text-align: center;
}
.pricing >div svg {
    transform: scale(2);
    margin: 2em 0 1.5em 0;
    color: var(--main-color);
}
.pricing li {
    margin: .5em 0;
}
.clients >div {
    text-align: center;
}
.clients p {
    font-size: 14px;
}
.hide-client {
    display: none;
}
.pricing h4 strong {
    color: var(--main-color);
}
.my-own-btn {
    display: block;
    width: fit-content;
    background-color: var(--main-color);
    color: var(--text-white);
    padding: .5em 1.25em;
    text-decoration: none;
    border: none;
    opacity: .7;
    transition: opacity .3s linear;
}
.my-own-btn-link {
    color: var(--main-color);
    text-decoration: none;
}
.my-own-btn:hover {
    color:var(--text-white);
    opacity: 1;
}
.cv h4 {
    color: var(--main-color);
    font-size: 24px;
}