:root {
    --main-bg: white;
    --main-color: #2a68db;
    --dark-color: #3a3a3a;
    --light-color: #dbdbdb;
    --light-gr: #ececec;
    --text-light: #5e5e5e;
}
.about p {
    line-height: 1.5;
}
.about .info img {
    height: 100%;
    width: 100%;
    border-radius: 1em;
}
.about .info p {
    line-height: 1.75;
    margin-bottom: 1.5em;
}
.ds-fl {
    display: flex;
    align-items: center;
}
.ds-fl span {
    margin-left: .5em;
}
.services svg {
    color: var(--main-color);
    transform: scale(1.5);
    margin-bottom: 1em;
}
.pricing >div {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1em;
    text-align: center;
}
.pricing >div svg {
    transform: scale(2);
    margin: 1em 0;
    color: var(--main-color);
}
.pricing >div a {
    margin: 1em auto;
}
.clients >div {
    text-align: center;
}
.hide-client {
    display: none;
}