.blogs-view {
    padding-bottom: 100px;
}
.blogs-view p {
    margin: 0;
    padding: 0;
}
.blogs .card-body span {
    background-color: var(--main-color);
    padding: .1em .7em;
    color: var(--text-white);
    font-size: 14px;
    opacity: .5;
    transition: opacity .3s linear;
}
.blogs .date svg {
    color: var(--scroll-color);
    width: 1em;
}
.blogs .date p {
    font-size: 12px;
    color: var(--scroll-color);
    margin-left: .2em;
}
.blogs .blog-title h3 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1.32;
    cursor: pointer;
    transition: color .3s linear;
    position: relative;
}
.blogs .blog-title h3:hover {
    text-decoration: underline;
    color: var(--main-color);
}
.blogs .blog-description p {
    font-size: 14px;
    color: var(--scroll-color);
}
.blogs-view img {
    width: 100%;
    height: 200px; 
    transition: transform .3s linear;
}
.blogs-view .card:hover img {
    transform: scale(1.06);
}
.blogs-view .card:hover span {
    opacity: 1;
}
.blogs-view img {
    width: 100%;
    max-height: 250px;
}
.pagination button {
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: var(--text-white);
    padding: 5px 10px;
    opacity: .8;
    transition: opacity .3s linear;
}
.pagination button:hover {
    opacity: 1;
}
.pagination button:last-child{
    border-left: 1px solid var(--text-white);
}
.blog img {
    height: fit-content;
    width: 100%;
    border: 1px solid var(--light-color)
}
.blog p {
    line-height: 1.6;
    margin-bottom: 1.18em;
}
.blog .r-c h6 {
    color: var(--scroll-color);
}
.blog .r-c span {
    margin: 0 .5em;
}
.blog .r-c h5:hover {
    color: var(--main-color);
    cursor: pointer;
}
.blog #close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--main-color);
    color: var(--text-white);
    border: none;
    line-height: 0;
    border: none;
    border-radius: 5px;
    padding: 6px;
    opacity: .3;
    transition: opacity .3s linear;
}
.blog #close:hover {
    opacity: 1;
}
.blog #close svg {
    pointer-events: none;
}
.blog .description {
    color: var(--scroll-color);
    text-align: center;
    font-style: italic;
}
.blog .author {
    text-align: center;
}
.blog .author img {
    width: 80px;
    height: 80px;
}
.blog .author h4 {
    color: var(--main-color);
    line-height: 1;
}
.blog .author h6 {
    color: var(--scroll-color);
    line-height: 1;
}
.blog .rich-text img {
    width: 80%;
    max-height: 500px;
    display: block;
    margin: 1em auto 2.5em auto;
}
.blog .rich-text * {
    list-style: square;
}
.blog .rich-text {
    padding: 1em 4em;
}
.blog .rich-text a {
    color: var(--main-color);
    text-decoration: none;
}
.blog .rich-text p {
    font-weight: 300;
    margin: 10px 0;
    line-height: 1.75;
}
.blog .rich-text code {
    background-color: var(--light-color);
    padding: 10px;
    border-radius: 10px;
    display: block;
}
@media screen and (max-width: 624px) {
    .blog .rich-text {
        padding: 1em;
    }   
    .blog .rich-text img {
        width: 90%;
    }
}
@media screen and (max-width: 424px) {
    .blog .rich-text {
        padding: 1em 0.5em;
    }   
    .blog .rich-text img {
        width: 95%;
    }
}
@media screen and (max-width: 324px) {
    .blog .rich-text {
        padding: 1em 0;
    }   
    .blog .rich-text img {
        width: 100%;
    }
}