.experience >div,
.education >div {
    position: relative; 
}
.line-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background-color: var(--main-color);
    opacity: 0.25;
    transition: opacity .3s linear;
}
.experience >div:hover .line-top,
.education >div:hover .line-top {
    opacity: 1;
}
.resume .date h6 {
    background-color: var(--main-color);
    color: var(--text-white);
    width: fit-content;
    padding: .1em .5em; 
}
.experience >div h4,
.education >div h4 {
    line-height: 1;
    margin-bottom: .2em;
}
.resume .skill {
    margin-top: 0;
}
.skills .progressbar-content {
    width: fit-content;
}
.skills .progressbar {
    position: relative;
    line-height: 0;
}
.skills .track {
    fill:none;
    stroke: var(--light-color);
    stroke-width: .5em;
}
.skills .progress {
    fill:none;
    stroke: var(--main-color);
    stroke-width: .5em;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: all 1s ease;
}
.skills .progress-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.skills .progressbar-content h4 {
    text-align: center;
    color: var(--main-color);
    font-weight: 600;
    text-transform: capitalize;
}
.skills .progress-text h5 {
    font-size: 1.5em;
    font-weight: 500;
}
.resume .gr {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2em;
}
.resume .languages >div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-color);
    padding: 1em 0;
}
.resume .languages >div:first-child {
    padding: 0;
    padding-bottom: 1em;
}
.resume .languages >div:last-child {
    border: none;
}
.resume .languages .rate-language {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
}
.resume .languages h6 {
    font-size: .8em;
    color: var(--scroll-color);
    font-weight: 500;
    text-transform: capitalize; 
}
.resume .languages h4 {
    font-size: 1em;
    line-height: 1;
    text-transform: capitalize;
}
.resume .languages .rate-language span {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-left: .25em;
}
.resume .languages .rate-language .point-focus {
    background-color: var(--main-color);
}
.resume .languages .rate-language .point-blur {
    background-color: var(--light-color);
}
.resume .skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5em;
    column-gap: 1.5em;
}
@media screen and (max-width: 460px) {
    .resume .skill {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .skills .progressbar-content {
        margin: auto;
    }
}
@media screen and (max-width: 300px)  {
    .resume .skill {
        grid-template-columns: 100%; 
    }
}
@media screen and (min-width: 620px) {
    .resume .skill {
        grid-template-columns: repeat(2, 1fr);
    }
}