.works img {
    width: 100%;
}
.filter button {
    background-color: var(--text-white);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: .25em 1em;
    margin-right: .5em;
    border-radius: .18em;
    transition: all .3s linear; 
}
.filter button:hover {
    background-color: var(--main-color);
    color: var(--text-white);
}
.filter .btn-focus {
    background-color: var(--main-color);
    color: var(--text-white);
}
.work-card {
    position: relative;
    line-height: 0;
    overflow: hidden;
}
.work-card >div {
    position: absolute;
    top: 0;
    background-color: var(--sm-darken);
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s linear;
}
.work-card >div div {
    position: absolute;
    color: var(--text-white);
}
.work-card img {
    width: 100%;
    height: 15em;
    transition: transform .3s linear;
}
.work-card:hover >div {
    opacity: 1;
}
.work-card:hover img {
    transform: scale(1.05);
}
.open-work {
    line-height: 0;
    background-color: var(--main-color);
    color: var(--text-white);
    padding: .75em;
    border: none;
    transition: all .3s linear;
    position: absolute;
    left: 50%;transform: translateX(-50%);
    bottom: 1em;
}
.open-work svg {
    pointer-events: none;
}
/* work details */
.work-details .main-bg {
    background-color: var(--main-color) !important;
}
.work-details {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--text-white);
    width: 100%;
    height: 100%;
    z-index: 100; 
}
.work-details h5 {
    font-size: 1.2em;
}
.work-details >div {
    background-color: var(--light-white);
    box-shadow: 0 0 10px 0 var(--shadow-color);
    padding: 2em 1em;
    border-radius: .5em;
    position: relative;
}
.work-details #close-details {
    line-height: 0;
    position: absolute;
    top: 1em;
    right: 1em;
    padding: .5em;
}
.work-details #close-details svg {
    pointer-events: none;
}
.my-grid-second {
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 2em;
}
@media screen and (max-width: 600px) {
    .my-grid-second {
        grid-template-columns: 100%;
        row-gap: 1em;
    }
}
#content-gallery {
    position: relative;
    height: 20em;
    overflow: hidden;
    line-height: 0;
}
@media screen and (max-width: 450px) {
    #content-gallery {
        height: 13em;
    }
}
@media screen and (min-width: 600px) {
    #content-gallery {
        height: 15em;
    }
}
@media screen and (min-width: 850px) {
    #content-gallery {
        height: 16em; 
    }
}
@media screen and (min-width: 950px) {
    #content-gallery {
        height: 18em;
    }
}
@media screen and (min-width: 1100px) {
    #content-gallery {
        height: 21em; 
    }
}
#content-gallery img {
    position: absolute;
    height: 100%;
    transition: opacity .3s linear;
}
.gallery button {
    background-color: var(--main-color);
    color: var(--text-white); 
    padding: .3em .5em;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
    opacity: 0.5;
    transition: opacity .3s linear;
}
.gallery button:hover {
    opacity: 1; 
}
.work-d svg {
    color: var(--main-color);
}
.work-d span {
    margin-left: .5em;
}
.work-d a {
    color: var(--main-color);
    text-decoration: none;
}
.stack span{
    margin-right: .4em;
    padding: .2em .75em;
    background-color: var(--light-color);
}
.hide {
    opacity: 0;
}
.show {
    opacity: 1  ;
}
@media screen and (max-width: 400px) {
    .video-player iframe {
        width: 100%;
        height: 100%; 
    }
}
.hide-project {
    display: none;
}