@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --text-white: white;
    --main-color: #2a68db;
    --dark-color: #3a3a3a;
    --light-color: #dbdbdb;
    --nav-fix-bg: #1f496b;
    --scroll-color: #cecece;
    --light-white: #F5F5F5;
    --success-color: #3ea347;
    --danger-color: #f37272;
}
body {
    color: var(--dark-color);
}
.head-page h2 {
    font-size: 2em;
    text-transform: capitalize;
    color: var(--main-color);
    position: relative;
    width: fit-content;
    margin: .5em 0;
}
.head-page h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: 1mm;
    border-radius: 2em;
    background-color: var(--main-color); 
}
.container {
    margin-top: 3em;
    overflow: hidden;
}
.pd-4 {
    padding: 1em;
}
@media screen and (min-width: 600px) {
    .pd-4 {
        padding: 1em 3em;
    }
}
@media screen and (min-width: 850px) {
    .fixed-right {
        position: fixed;
        width: 75%;
        height: 100%;
        right: 0;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    .fixed-right::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
        border-radius: 1em;
    }
    .fixed-right::-webkit-scrollbar {
        width: 1mm;
    }
    .pd-4 {
        padding: 0 3em;
    }
    .container {
        margin: 0;
    }
}
@media screen and (min-width: 1000px) {
    .pd-4 {
        padding: 0em 4em;
    }
}