@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    scroll-behavior: smooth;
    object-fit: cover; 
}
svg {
    pointer-events: none;
}
ul {
    margin: 0;
    padding: 0;
}
/* 
    css var properties
*/
:root {
    --text-white: white;
    --main-color: #037FFF;
    --dark-color: #3a3a3a;
    --light-color: #dbdbdb;
    --scroll-color: #a0a0a0;
    --light-white: #F5F5F5;
    --success-color: #3ea347;
    --danger-color: #f37272;
    --shadow-color: #0000001a;
    --sm-darken: rgba(0, 0, 0, .4);
}
/* body properties */
body {
    color: var(--dark-color);
    overflow-x: hidden;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 4em;
    border: .2em solid var(--light-color); 
}
body::-webkit-scrollbar {
    width: .7em;
    background-color: var(--light-color);
}
/* general styles */
.main-size  {
    width: 90%;
    margin: 3em auto 0 auto;
}
.my-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 1.5em;
    margin: 2em 0;
}
.m-title {
    text-transform: capitalize;
    position: relative; 
    width: fit-content;
}
.m-title h2 {
    font-size: 1.5em;
}
.m-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--main-color);
}
.m-title-top {
    width: 100%;
}
.m-title-top h2 {
    font-size: 1.9em;
}
.m-title-top::after {
    background-color: transparent;
    border: 1px dashed var(--light-color);
    width: 100%;
    bottom: -12px;
}
@media screen and (max-width: 300px) {
    .main-size {
        width: 95%;
    }
}
@media screen and (min-width: 620px) {
    .main-size {
        width: 95%;
    }
    .my-grid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5em;
    }
}
@media screen and (min-width: 850px) {
    .main-size {
        width: 90%;
        margin: 1em auto 0 auto;
    }
}
@media screen and (min-width: 850px) {
    .fixed-right {
        position: absolute;
        width: 75%;
        height: 100%;
        right: 0;
    }
}
@media screen and (min-width: 1550px) {
    .main-size {
        width: 1000px;
    }
}
.my-card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    transition: opacity .5s linear;
    z-index: -1;
    opacity: 0;
}
.my-card:hover::after {
    opacity: 0.1;
}
.my-card {
    padding: 1em;
    box-shadow: 0 0 10px 0 var(--shadow-color);
    position: relative;
    z-index: 1;
}
li {
    list-style-type: none;
}
.my-sm-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.hi-sc-ef {
    opacity: 0;
    transform: translateY(1em);
    transition: all .3s linear;   
}
.scroll {
    transition: all .3s linear;
}
.hide {
    opacity: 0;
}
.show {
    opacity: 1  ;
}
.text-main {
    color: var(--main-color);
}