.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background-color: var(--light-white);
    transform: translateX(-100%);
    z-index: 100;
    transition: all 750ms ease;
}
.expand-nav {
    transform: translateX(0%);
}
@media screen and (max-width: 280px) {
    .navigation {
        width: 85%;
    }
}
@media screen and (min-width: 500px) {
    .navigation {
        width: 300px;
    }
}
.navigation .content {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    overflow-x: hidden;
    overflow-y:scroll;
}
.navigation .content::-webkit-scrollbar {
    width: 1mm;
}
.navigation .content::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 5em;
    border: 1px solid var(--light-white);
}
.hero {
    width: 100%;
    height: 100%;
    position: relative;
}
.navigation .hero img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 50%;transform: translateX(-50%);
    border: 1.5mm solid var(--light-color);
}
.navigation .open,
.navigation .not-open {
    background-color: var(--success-color);
    width: fit-content;
    margin: auto;
    padding: 0 1em;
    text-transform: capitalize;
    color: var(--text-white);
    border-radius: 1em;
}
.navigation .not-open {
    background-color: var(--danger-color);
}
.navigation footer {
    position: relative;
}
.navigation footer p {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (min-width: 350px) {
    .navigation .hero img {
        width: 150px;
        height: 150px;
    }
}
.navigation ul {
    list-style-type: none; 
}
.navigation .link-pages a {
    display: block;
    border-radius: 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--dark-color);
    padding: .5em 1em;
    position: relative;
    z-index: 1;
    margin: .35em 0;
    transition: all 350ms ease;
}
.navigation .link-pages a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;height: 100%;
    background-color: var(--main-color);
    border-radius: 2mm;
    opacity: 0;
    transition: all 350ms ease;
    z-index: -1;
}
.navigation .link-pages a:hover {
    color: var(--main-color);
}
.navigation .link-pages a:hover::after {
    opacity: .1;
}
.navigation .link-pages svg {
    width: 25px;
    height: 25px;
}
.navigation ul svg,
.navigation ul span {
    pointer-events: none;
}
.navigation ul a svg {
    margin-right: .5em;
}
.navigation .link-pages a.active {
    color: var(--main-color);
}
.navigation .link-pages a.active::after {
    opacity: .1;
}
.navigation .my-collapse {
    width: 3em;
    height: 3em;
    line-height: 0;
    position: absolute;
    top: 0;
    right: -2.9em;
    background-color: var(--light-white);
    cursor: pointer;
    border: 1px solid var(--main-color);
}
.navigation .my-collapse svg {
    pointer-events: none;
    color: var(--main-color);
    width: 25px;
    height: 25px;
}
@media screen and (min-width: 850px) {
    .navigation {
        width: 25%;
        transform: translateX(0%);
    }
    .expand-nav {
        transform: translateX(0%);
    }
    .navigation .my-collapse {
        display: none;
    }
}
.recent h3 {
    color: var(--main-color);
    text-transform: capitalize;
}
.recent a {
    text-decoration: none;
    color: var(--dark-color);
    transition: color 300ms ease;
}
.recent a:hover {
    color: var(--main-color);
}
.login a {
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--text-white);
    border-radius: 1em;
}
.navigation .copyright p {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}
@media screen and (max-width: 1300px) {
    .navigation .copyright {
        margin: 1.5em 0 3em 0;
    }
}
@media screen and (min-width: 1200px) {
    .navigation {
        width: 300px;
    }
}
@media screen and (min-width: 1300px) {
    .navigation {
        width: 340px;
    }
}